@media screen and (max-width: 1300px) {
  .container.home{
    justify-content: start;
  }
  .main-title.home a{
    flex-direction: row;
    font-size: 4rem;
    line-height: normal;
  }
  nav.home{
    flex-direction: row;
  }
  .toggle-container.home{
    flex-direction: row;
  }
  .toggle.home{
    width: 2.5rem;
  }
  .toggle-btn.home{
    color: var(--primary-color);
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    background: var(--secondary-color);
    right: 0 !important;
  }
  .toggle-btn.home svg{
    width: 80%;
    fill: var(--primary-color);
  }
  .portfolio-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  :root{
    --paddingH: 2em;
    --paddingW: 3em;
  }
  header nav{
    display: none;
  }
  .toggle-container{
    display: none;
  }
  .burger{
    position: fixed;
    right: var(--paddingW);
    display: flex;
    flex-direction: column;
    gap: .7rem;
    width: 40px;
    z-index: 100;
    transition: .4s;
  }
  .burger span{
    width: 100%;
    height: 4px;
    background: var(--secondary-color);
    transition: .4s;
  }
  .burger.active{
    gap: 0;
  }
  .burger.active span:first-child{
    transform: rotate(25deg) translateY(2px);
  }
  .burger.active span:last-child{
    transform: rotate(-25deg) translateY(-2px);
  }
  .menu-mobile{
    background: var(--primary-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--paddingH) var(--paddingW);
    transition: .4s;
  }
  .menu-mobile.active{
    transform: translateY(100%);
  }
  .menu-mobile a{
    font-size: 4rem;
    font-weight: bold;
  }
  .switch-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .switch-container .cta{
    width: fit-content;
    color: var(--secondary-color);
  }
  .container{
    justify-content: start;
  }
  .about-container{
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .latest-container{
    margin-top: 0;
  }
  .latest-container img{
    width: 100%;
  }
  .social-container{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
  }
  main.about{
    grid-template-columns: 1fr .7fr;
  }
  .about-para{
    width: 90%;
  }
  main.contact form{
    width: 50vw;
  }
}

@media screen and (max-width: 900px) {
  :root{
    --paddingH: 1.5em;
    --paddingW: 2em;
  }
  main.home{
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  .about-container{
    grid-row: 1;
  }
  .latest-container{
    grid-column: 1;
    grid-row: 2;
  }
  main.about{
    grid-template-columns: 1fr;
  }
  .about-para{
    width: 100%;
  }
  .portfolio-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen  and (max-width: 768px) {
  main.contact{
    flex-direction: column;
    gap: 3rem;
  }
  main.contact form{
    width: 100%;
  }
  .social-links{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 560px) {
  :root{
    --paddingH: 1em;
    --paddingW: 1.5em;
  }
  .main-title a, .main-title.home a{
    font-size: 3rem;
  }
  .portfolio-container{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .main-title a, .main-title.home a{
    font-size: 2rem;
  }
  .menu-mobile{
    padding: 4rem var(--paddingW);
  }
  .category-selector{
    display: none;
  }
}

@media screen and (max-width: 330px) {
  .main-title a, .main-title.home a{
    font-size: 1.5rem;
  }
  .menu-mobile a{
    font-size: 3rem;
  }
}