*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}
html{
  height: 100%;
}
:root{
  --primary-color: #eae3d7;
  --secondary-color: #090909;
  --red: #c12121;
  --paddingW: 5rem;
  --paddingH: 3.125rem;
}
.dark-theme{
  --primary-color: #090909;
  --secondary-color: #eae3d7;
}
body {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
*::selection {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.noise{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
	background: transparent url("/assets/img/noise.gif") repeat 0 0;
	opacity: .07;
  z-index: -1;
  /* animation: bg-animation 1s infinite; */
}
/* @keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
} */
a{
  text-decoration: none;
  color: var(--secondary-color);
}
.cta{
  background: transparent;
  border: 1px solid;
  border-radius: 99px;
  padding: .2rem 1rem;
  user-select: none;
  color: var(--secondary-color);
}
.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
.container.home, .container.contact{
  justify-content: space-between;
}
/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--paddingH) var(--paddingW) 0;
}
.main-title{
  display: flex;
}
.main-title a{
  display: flex;
  gap: .6rem;
  font-size: 4rem;
}
.main-title.home a{
  flex-direction: column;
  line-height: .8;
  font-size: 8rem;
}
.menu-mobile, .burger{
  display: none;
}
nav{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
nav.home{
  flex-direction: column;
}
nav a{
  font-size: 1.7rem;
}
nav a.active{
  font-weight: 600;
}
.toggle-container{
  display: flex;
  gap: 1.5rem;
}
.toggle-container.home{
  flex-direction: column;
}
.toggle{
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--secondary-color);
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 0 .25rem;
  cursor: pointer;
}
.toggle.home{
  width: 5rem;
}
.toggle-btn{
  position: absolute;
  right: .25rem;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: var(--primary-color);
  user-select: none;
  transition: right .3s;
}
.toggle-btn.home{
  color: var(--secondary-color);
  background: var(--primary-color);
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
}
.toggle-btn svg{
  width: 100%;
  fill: var(--primary-color);
}
.toggle-btn.home svg{
  width: 80%;
  fill: var(--secondary-color);
}

/* MAIN HOME */
main{
  padding: var(--paddingH) var(--paddingW);
}
main.home{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 100%;
}
.about-container{
  grid-column: 1;
  grid-row: 1;
}
.about-container p{
  font-size: 1.2rem;
  line-height: 1.5;
}
.latest-container{
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: end;
}
.latest-container img{
  width: 80%;
  filter: grayscale(1);
}
.latest-container p{
  font-size: 1.5rem;
  font-weight: bold;
}
.social-container{
  align-self: end;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: .6rem;
}
.social-container a{
  font-size: 1.2rem;
  font-weight: 600;
}

/* MAIN ABOUT */
main.about{
  display: grid;
  grid-template-columns: 1fr .4fr;
  gap: 2rem;
}
.about-para{
  font-size: 1.2rem;
  line-height: 1.5;
  width: 70%;
  align-self: center;
}
.about-picture{
  width: 100%;
}

/* MAIN PORTFOLIO */
main.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.category-selector{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.category-selector p{
  margin: 0 2px;
  padding: .3rem 1rem;
}
.category-selector p:not(.active){
  cursor: pointer;
}
.category-selector .active{
  border: 1px solid;
  border-radius: 999px;
}
.portfolio-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.portfolio-el{
  width: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 4/3;
}
.portfolio-el img{
  width: 100%;
  filter: grayscale(1);
  z-index: 2;
}
.portfolio-el a{
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* MAIN CONTACT */
main.contact{
  display: flex;
  justify-content: space-between;
}
main.contact form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 30vw;
}
main.contact form .cta{
  width: fit-content;
}
.input-container{
  position: relative;
  width: 100%;
}
.input{
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  width: 100%;
  resize: none;
  outline: none;
  font-size: 1.2rem;
  color: var(--secondary-color);
  padding: 0 .3rem;
}
textarea.input{
  max-height: 33rem;
}
.characters-count{
  display: flex;
  width: 100%;
  justify-content: end;
}
.label{
  position: absolute;
  top: 0;
  left: .2rem;
  font-size: 1.2rem;
  pointer-events: none;
  transition: top .3s, font .3s;
}
.input:focus + .label,
.input:not(:placeholder-shown) + .label{
  top: -1.2rem;
  font-size: .9rem;
}
.social-links{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .7rem;
  width: 100%;
  padding: var(--paddingH) 0;
  border-top: 1px solid;
}
footer .heart{
  color: var(--red);
  font-size: 1.4rem;
}
footer p{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}