*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}
html{
  height: 100%;
  cursor: none;
  overflow-x: hidden;
}
:root{
  --primary-color: #eae3d7;
  --secondary-color: #090909;
  --red: #c12121;
  --paddingW: 5rem;
  --paddingH: 3.125rem;
}
*::-webkit-scrollbar{
  display: none;
}
.dark-theme{
  --primary-color: #090909;
  --secondary-color: #eae3d7;
}
body {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
*::selection {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* [lang="fr"]{
  display: none;
} */
.cursor{
  width: 1rem;
  height: 1rem;
  background: var(--secondary-color);
  border-radius: 999px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  transition: .4s;
  z-index: 10;
}
.cursor-inner{
  text-transform: uppercase;
}
.cursor-small{
  font-size: .7rem;
  max-width: 60%;
  text-align: center;
  margin-top: .8rem;
}
.portfolio-hover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto !important;
  height: auto !important;
  padding: 0 .8rem;
  aspect-ratio: 1;
  mix-blend-mode: normal;
  color: var(--secondary-color);
  background: var(--primary-color);
}
.dark-theme .portfolio-hover{
  background: var(--secondary-color);
  color: var(--primary-color);
}
.galery-hover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto !important;
  height: auto !important;
  aspect-ratio: 1;
  mix-blend-mode: normal;
  color: var(--secondary-color);
  background: var(--primary-color);
}
.dark-theme .galery-hover svg{
  fill: var(--primary-color);
}
.noise{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
	background: transparent url("/assets/img/noise.gif") repeat 0 0;
	opacity: .09;
  z-index: -1;
  /* animation: bg-animation 1s infinite; */
}
/* @keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
} */
a{
  text-decoration: none;
  color: var(--secondary-color);
  cursor: none;
}
.cta{
  background: transparent;
  border: 1px solid;
  border-radius: 99px;
  padding: .2rem 1rem;
  user-select: none;
  color: var(--secondary-color);
  transition: .5s;
}
.cta:hover{
  background: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
}
.cta:hover .cursor{
  width: 3rem;
}
.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
.container.home, .container.contact{
  justify-content: space-between;
}
/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--paddingH) var(--paddingW) 0;
}
.main-title{
  display: flex;
}
.main-title a{
  display: flex;
  gap: .6rem;
  font-size: 4rem;
}
.main-title.home a{
  flex-direction: column;
  line-height: .8;
  font-size: 8rem;
}
.menu-mobile, .burger{
  display: none;
}
nav{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
nav.home{
  flex-direction: column;
}
nav a{
  font-size: 1.7rem;
}
nav a.active{
  border-bottom: 2px solid
}
.menu-item > span{
  position: relative;
}
.menu-item span > div:nth-child(1) span{
  will-change: transform;
  transform-style: preserve-3d;
  transition: transform .5s ease;
  transition-delay: calc(.05s * var(--index));
  transform-origin: bottom;
  display: inline-block
}
.menu-item span > div:nth-child(2) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: transform .5s ease;
  transition-delay: calc(.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translateY(100%) rotateX(-90deg)
}
.menu-item:not(.active):hover span > div:nth-child(1) span {
  transform: translateY(-100%) rotateX(-90deg)
}
.menu-item:not(.active):hover span > div:nth-child(2) span {
  transform: translate(0) rotateX(0)
}
.hover-clone{
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
}
.toggle-container{
  display: flex;
  gap: 1.5rem;
}
.toggle-container.home{
  flex-direction: column;
}
.toggle{
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--secondary-color);
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 0 .25rem;
}
.toggle.home{
  width: 5rem;
}
.toggle-btn{
  width: 100%;
  height: 100%;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: var(--primary-color);
  user-select: none;
  transition: right .3s;
}
.toggle-btn.home{
  position: absolute;
  right: .25rem;
  color: var(--secondary-color);
  background: var(--primary-color);
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
}
.toggle-btn svg{
  width: 100%;
  fill: var(--primary-color);
}
.toggle-btn.home svg{
  width: 80%;
  fill: var(--secondary-color);
}

/* MAIN HOME */
main{
  padding: var(--paddingH) var(--paddingW);
}
main.home{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 100%;
}
.about-container{
  grid-column: 1;
  grid-row: 1;
}
.about-container p{
  font-size: 1.2rem;
  line-height: 1.5;
}
.about-container p .cta{
  font-size: 1rem;
}
.latest-container{
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: end;
}
.latest-container a{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.latest-container img{
  width: 80%;
  filter: grayscale(1);
}
.latest-container p{
  font-size: 1.5rem;
  font-weight: bold;
}
.social-container{
  align-self: end;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: .6rem;
}
.social-container a{
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  width: fit-content;
}
.social-container a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--secondary-color);
  scale: 0 1;
  transform-origin: right;
  transition: scale .4s;
}
.social-container a:hover::before{
  scale: 1;
  transform-origin: left;
}

/* MAIN ABOUT */
main.about{
  display: grid;
  grid-template-columns: 1fr .4fr;
  gap: 2rem;
}
.about-para{
  font-size: 1.2rem;
  line-height: 1.5;
  width: 70%;
  align-self: center;
}
.about-picture{
  width: 100%;
}

/* MAIN PORTFOLIO */
main.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
main.portfolio h2{
  font-size: 4rem;
}
.category-selector{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.category-selector p{
  margin: 0 2px;
  padding: .3rem 1rem;
}
.category-selector .active{
  border: 1px solid;
  border-radius: 999px;
}
.portfolio-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.portfolio-el{
  width: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 4/3;
}
.portfolio-el img{
  width: 100%;
  filter: grayscale(1);
  z-index: 2;
  transition: filter .5s;
}
.portfolio-el:hover img{
  filter: grayscale(0);
}
.portfolio-el a{
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.portfolio-el .info{
  display: none;
}

/* MAIN CONTACT */
main.contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3rem;
}
main.contact h2{
  text-align: center;
  font-size: 3rem;
  width: 100%;
}
main.contact form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 30vw;
}
main.contact form .cta{
  width: fit-content;
  font-size: 1.2rem;
  cursor: none;
}
main.contact form .cta.disabled:hover{
  animation: disabledAnim .3s;
}
@keyframes disabledAnim {
  0%{transform: translateX(0);}
  33%{transform: translateX(-.3rem);}
  66%{transform: translateX(.3rem);}
  100%{transform: translateX(0);}
}
.input-container{
  position: relative;
  width: 100%;
}
.input{
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--secondary-color);
  width: 100%;
  resize: none;
  outline: none;
  font-size: 1.2rem;
  color: var(--secondary-color);
  padding: 0 .3rem;
  cursor: none;
}
textarea.input{
  max-height: 33rem;
}
.characters-count{
  display: flex;
  width: 100%;
  justify-content: end;
}
.label{
  position: absolute;
  top: 0;
  left: .2rem;
  font-size: 1.2rem;
  pointer-events: none;
  transition: top .3s, font .3s;
}
.input:focus + .label,
.input:not(:placeholder-shown) + .label{
  top: -1.2rem;
  font-size: .9rem;
}
.social-links{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.social-links a{
  position: relative;
  width: fit-content;
}
.social-links a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--secondary-color);
  scale: 0 1;
  transform-origin: left;
  transition: scale .4s;
}
.social-links a:hover::before{
  scale: 1;
  transform-origin: right;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .7rem;
  width: 100%;
  padding: var(--paddingH) var(--paddingW);
  border-top: 1px solid;
}
footer .heart{
  color: var(--red);
  font-size: 1.4rem;
}
footer p{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}

/* MAIN PAGE */
main.page{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.next-prev-btn{
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  width: fit-content;
}
.next-prev-btn svg{
  fill: var(--secondary-color);
}
main.page h2{
  font-size: 4rem;
  text-align: center;
}
.top-page-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 4rem;
}
.top-page-container img{
  width: 100%;
  aspect-ratio: 4 / 3;
}
.top-page-container .infos-container{
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
}
.infos-container ul{
  list-style: none;
}
.infos-container ul li{
  font-size: 1.2rem;
  text-transform: uppercase;
}
.infos-container .cta{
  height: fit-content;
}
.top-page-container p{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
  font-size: 1.2rem;
  line-height: 1.5;
}
.bottom-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}
.galery-slider{
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.galery-slider .galery-item{
  min-width: 100%;
  width: 100%;
  transition: .4s;
}
.click-area{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}
.click-area.previous{
  left: 0;
}
.click-area.next{
  right: 0;
}
.galery-pos-indicator{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: .7rem;
}
.galery-pos-indicator span{
  width: .5rem;
  aspect-ratio: 1;
  border-radius: 99px;
  background: var(--secondary-color);
}
.galery-pos-indicator span.active{
  width: .8rem;
}
.prev-next-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* MAIN LEGAL */
main.legal{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main.legal h2{
  font-size: 4rem;
  text-align: center;
}
main.legal div:not(:last-child){
  margin-bottom: 3rem;
}
main.legal div h3{
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
main.legal div h4{
  font-size: 1.4rem;
  margin: 1.5rem 0 1rem;
  text-transform: uppercase;
}
main.legal div p{
  font-size: 1.2rem;
}
main.legal div ul{
  list-style: disc;
  padding-left: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}